body{
  font-family: 'Oswald', sans-serif;
  background-image: url('images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  height: 900px;
  width: 100%;
}
/* #weatherDiv{
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 1px 5px;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}
#weather_description h1{
  margin: 5px;
  font-size: 42px;
  font-family: 'Titillium Web', sans-serif;
} */
/* Cannot get above code to work at all */
h1{
  text-transform: capitalize;
}
input{
  width: 300px;
  height: 20px;
  text-align: left;
  font-size: 14px;
  border: 1px solid gold;
  background: white;
  color: black;
}
#search_button{
  /* width: 20px; */
  height: 20px;
  border: 1px solid gold;
  color: black;
  background: lightgray;
  font-size: 14px;
}
.search:hover{
  cursor: pointer;
}
